#grupoPaineis{
    margin-top: 20px;
}

.depoimentos-clientes{
    color: #FFF;
    background-color: #0275D8;
    padding-top: 25px ;
    padding-bottom: 25px ;
    margin-bottom: 0;
    font-size: 25px;
}
